body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.boxed {
    margin: 10px;
}

.mono {
    font-family: Monaco, "Lucida Console", monospace;
}

.danger {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

.dialog {
    z-index: 100;
}

.newwindow {
    background-color: #999 !important;
}
.leftpane .splitpanes__pane {
    overflow: auto !important;
}
.splitpanes__splitter {
    background-color: rgba(125, 125, 125, 0.3);
    position: relative;
}
.splitpanes__splitter:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 0;
    z-index: 1;
}
.splitpanes__splitter:hover:before {
    opacity: 1;
}
.splitpanes--vertical > .splitpanes__splitter:before {
    left: -6px;
    right: -6px;
    height: 100%;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
    top: -6px;
    bottom: -6px;
    width: 100%;
}
.bottom-align {
    position: relative;
    overflow: hidden;
}
.bottom-align > div {
    /* position: absolute;*/
    bottom: 0;
}
.absolute {
    position: absolute;
}

.d-inline {
    display: inline-block;
}
.logs a,
#logs-container a:-webkit-any-link {
    color: #03a9f4;
}
#topbar {
    display: flex;
    justify-content: space-between;
}
#topbar input {
    padding: 4px;
    border-radius: 4px;
    box-shadow: none;
    border: 0;
}
#topbar button,
#logbar button {
    border-radius: 4px;
    width: 32px;
}
#center-top-icons {
    /*margin-right:5px; */
}
#top-msg {
    align-self: center;
    float: right;
    padding-left: 16px;
    padding-top: 7px;
}

#top-msg > span {
    max-width: calc(100vw - 670px);
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
#top-msg > span > span {
    white-space: nowrap;
}

#mainpanes {
    /*height: 94vh;*/
}

.logs {
    margin: 10px 20px;
    font-family: Monaco, "Lucida Console", monospace;
}

#notice {
    padding: 5px 0 0 0;
    line-height: 1;
    position: relative;
    top: 3px;
}
.ellipse {
    margin-left: 10px;

    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.ellipse > span {
    white-space: nowrap;
}
#notice.ellipse {
    max-width: calc(50vw - 100px);
}

#settings {
    overflow: auto;
    height: calc(100vh - 65px);
    /* ide kellene egy olyan ami scrollozhatóvá teszi ha nem fér bele a képbe, vagy valami ilyesmi */
    /* meg pár helyre kellene még minimális scrollozhatóság: filtree, logs */
}
.mobile-size #center-left-icons {
    position: absolute;
    background: #b2b2b2;
    box-shadow: 0 0 5px #4c4c4c;
    z-index: 10;
    top: 40px;
    width: 100px;
}
.mobile-size #center-left-icons > div {
    display: flex;
    flex-flow: column;
    width: 100% !important;
}
.mobile-size #center-left-icons > div:nth-of-type(2) {
    margin-top: 10px;
}
.mobile-size #center-left-icons > div button {
    margin: 2px;
    width: 96px;
}
::-webkit-scrollbar,
.CodeMirror-vscrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px inset;
    border-radius: 10px;
    background: rgb(187, 187, 187);
}
::-webkit-scrollbar-track,
.CodeMirror-vscrollbar {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px inset;
    border-radius: 10px;
    background: #b2b2b2;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(187, 187, 187);
}

::-webkit-scrollbar-track-piece {
    background-color: #6b6b6b;
    -webkit-border-radius: 16px;
}

.actual {
    font-weight: bold;
}

.outerbody {
    overflow: hidden;
}

#topbar {
    position: inherit;
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

#logbar {
    z-index: 200000;
    position: fixed;
    justify-content: space-between;
    display: flex;
    padding: 5px 10px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    bottom: 0px;
    line-height: 10px;
    font-family: Monaco, "Lucida Console", monospace;
}

#logbar > div:nth-of-type(3) {
    padding: 0px 20px 0px 0;
}
.btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(222, 222, 222, 0.5);
}

.btn:hover {
    background-color: rgba(222, 222, 222, 0.8);
}

#logs {
    margin: 10px 20px;
    font-family: Monaco, "Lucida Console", monospace;
}

#status {
    min-width: 300px;
    border: none;
    padding: 5px 10px;
    font-family: Monaco, "Lucida Console", monospace;
    line-height: 16px;
    color: #fff;
}

#logline.ellipse {
    max-width: calc(50vw - 150px);
}
#logline {
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    top: 3px;
}

#right-top-icons {
    margin-right: 20px;
}
