<html>

<head>
</head>
</body>
THIS IS A PROMO
<br>
<%= id %>
    <br>
    <%= data.promo.name %>
        <br>
        <%= data.promo.text %>

            <img src="/promo/<%= id %>/image.jpg">
            </body>

</html>
