/*vertical-align: super*/

body {
    font-size: 14px;
    color: #546E7A;
}

.filetree {
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);*/
    margin: 0 0 10px 0;
    padding: 0;
}

.filetree .file {
  white-space:nowrap;
    display: block;
    font-family: Monaco, "Lucida Console", monospace;
    line-height: 16px;
    color: #BBB;
}

.filetree .folder {
  white-space:nowrap;
    display: block;
    font-family: Monaco, "Lucida Console", monospace;
    font-style: bold;
    line-height: 16px;
    color: #BBB;
}

.filetree .children {
    padding-left: 24px;
    position: relative;
    overflow: hidden;
}

.filetree .children .file {
    position: relative;
}

.filetree .children .file:before {
    content: '';
    left: -18px;
    bottom: 8px;
    width: 8px;
    height: 9999px;
    position: absolute;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #CFD8DC;
    border-radius: 0 0 0 3px;
}

.button {
    cursor: pointer;
}

.filetree .selected {
    font-weight: bold;
    background-color: rgba(111, 111, 111, 0.1);
    color: #DDD;
}

.filetree .fileicon {
    color: gray;
    font-size: 14px;
}

.filetree .usernames {
    font-size: 7px;
    vertical-align: bottom;
}

.filetree .underline-false {
    text-decoration: underline;
}