<div ng-controller="usersController" class="container content-box-large">

    <br><br>

    <button type="button" class="btn btn-primary" ng-click="initView()"><i class="fa fa-check-circle"></i> ##&en All users ##&hu Minden Felhasználó ##</button>

    <button type="button" class="btn btn-primary" ng-click="item=false; editor=true; view=false;"><i class="fa fa-check-circle"></i> JSONEDITOR</button>
    <button ng-if="jsoneditor" type="button" class="btn btn-primary" ng-click="toggle_jsoneditor()"><i class="fa fa-eye"></i>{{jsoneditoroptions.mode}}</button>

    <button type="button" class="btn btn-primary" ng-click="item=false; editor=false; view=true;"><i class="fa fa-check-circle"></i> JSONVIEW</button>

    <br><br>
    <div ng-if="list">
        <div ng-if="item" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>##&en Profile-Name ##&hu Profil-Név ##</th>
                        <th>E-mail</th>
                        <th>##&en Login-strategy ##&hu Login-tipus ##</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users">
                        <td>{{ $index }}</td>
                        <td>{{ u.profile.name || '' }} {{ u.facebook.name || '' }} {{ u.google.name || '' }}</td>
                        <td>{{ u.profile.email || '' }} {{ u.local.email || '' }} {{ u.facebook.email || '' }} {{ u.google.email || '' }}</td>
                        <td>{{ u.local && 'EMAIL' }} {{ u.local.verified && 'CONFIRMED' || '' }} {{ u.facebook && 'Facebook' }} {{ u.google && 'Google' }}</td>
                        <td><button type="button" class="btn btn-primary" ng-click="set(u)">{{u._id}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div ng-if="editor" ng-jsoneditor ng-model="users" options="jsoneditoroptions" style="height: 600px;"></div>
        <pre ng-if="view">{{users | json}}</pre>
    </div>
    <div ng-if="!list">
        <div ng-if="item">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Passport ID</td>
                            <td>{{user._id || '-'}}</td>
                        </tr>
                        <tr>
                            <td>Profile Name</td>
                            <td>{{user.profile.name || '-' }}</td>
                        </tr>
                        <tr>
                            <td>Profile Email</td>
                            <td>{{user.profile.email || '-' }}</td>
                        </tr>
                        <tr>
                            <td>Verification</td>
                            <td>{{ user.local.verified && 'OK' || '' }}</td>
                        </tr>
                        <tr>
                            <td>Delete</td>
                            <td><button type="button" class="btn btn-danger" ng-click="delete_user()"><i class="fa fa-hand-o-op"></i> ##&en Delete ##&hu Törlés ##</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div smart-form definition="forms" response="user" onsave="save_user_profile"></div>

        </div>
        <div ng-if="editor" ng-jsoneditor ng-model="edit.user" options="jsoneditoroptions" style="height: 600px;"></div>
        <button ng-if="editor" type="button" class="btn btn-danger" ng-click="save_user(edit.user)"><i class="fa fa-hand-o-op"></i> ##&en Save ##&hu mentés ##</button></td>
        <pre ng-if="view">{{user | json}}</pre>
    </div>

    <!--button type="button" class="btn btn-primary" ng-click="save_settings(settings)"><i class="fa fa-check-circle"></i> Save</button-->
</div>