body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
}

a:link, a:visited {
  background-color: #555555;
  color: white;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkblue;
}

.outerbody {
    overflow: hidden;
}

#filetree {
    width: 18%;
    height: -webkit-calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    height: calc(100% - 80px);
    /* margin-top: 30px;*/
    float: left;
    overflow-y: auto;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
}

#paddiv {
    width: 80%;
    height: -webkit-calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    height: calc(100% - 80px);
    /*margin-top: 30px;*/
    float: right;
    padding: 0;
    position: fixed;
    right: 0px;
}

#padframe {
    border: none;
    height: 100%;
    width: 100%;
}

#topbar {
    position: inherit;
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

#logbar {
    z-index: 200000;
    position: fixed;
    padding: 12px 10px 12px 0px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    bottom: 0px;
    height: 10px;
    line-height: 10px;
    font-family: Monaco, "Lucida Console", monospace;
}

.btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(222, 222, 222, 0.5);
}

.btn:hover {
    background-color: rgba(222, 222, 222, 0.8);
}

#logs {
    margin: 10px 20px;
    font-family: Monaco, "Lucida Console", monospace;
}

#status {
    min-width: 300px;
    border: none;
    padding: 5px 10px;
    font-family: Monaco, "Lucida Console", monospace;
    line-height: 16px;
    color: #FFF;
}

#notice {
    color: #AA8;
}

#logline {
    position: absolute;
    left: 50%;
    color: #AAC;
}

.status_red_true {
    background-color: rgba(222, 0, 0, 0.8);
}

.status_red_false {
    background-color: rgba(111, 222, 111, 0.5);
}

#search {
    position: absolute;
    right: 50px;
    top: 7px;
    padding: 3px;
}

/*
#right_search {
    position: absolute;
    right: 50px;
}

#right_button {
    position: absolute;
    right: 10px;
}

*/

/* split.js */

.gutter {
    background-color: rgba(222, 222, 222, 0.5);
    background-repeat: no-repeat;
    background-position: 50%;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    z-index: 50000;
    left: 00px;
    position: relative;
    background: rgba(222, 222, 222, 0.5);
    cursor: col-resize;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=')
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: -webkit-calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    height: calc(100% - 80px);
    float: left;
}

.filetree>treeview {
    padding: 10px;
    display: inline-block;
}