<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VIEW</title>
</head>

<body style="background-color: rgb(38,38,38); height: 100%; width: 100%; overflow: hidden; margin: 0">
    <embed width="100%" height="100%" src="<%- file %>"></embed>
</body>

</html>